<div class="forecast-map">
  <div class="row">
    <div class="col-12">
      <hr />
      <h3 class="mb-4">5-Day Forecast</h3>
      <div class="row current-forecast">
        <div class="col-12">
          {{forecast-map-tabs forecast5=forecast5 }}
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
