<div class="forecast-day mt-4">
  <div class="row">
    {{#each dailyForecast  as |forecast index|}}
      <div class="col-3">
        <div class="hour-forecast p-2 index-{{index}}">
          <p><span style="font-size: 22px; margin-right: 0.5rem;">{{weather-icon icon=forecast.weather.firstObject.id}}</span><strong>{{unix-time-conversion forecast.dt}}</strong></p>
          <p>{{forecast.weather.firstObject.main}} - {{forecast.weather.firstObject.description}}</p>
          <p>Temperature: {{round-float forecast.main.temp}} &deg;C</p>
          <p>Cloud cover: {{forecast.clouds.all}}%</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
{{yield}}
