{{#if props.loading}}
  {{loading-spinner }}
{{else}}
  {{#power-select selected=weather.locationValue options=locations searchField='name' onchange=(action "updateLocation") as |location|}}
    {{location.name}}
  {{/power-select}}
{{/if}}
{{yield}}
