@import "ember-bootstrap/bootstrap";
@import "weather-icons";
@import "ember-power-select";

/* Setup weather font */

@font-face {
  font-family: 'weathericons';
  src: url('font/weathericons-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('font/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/weathericons-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/weathericons-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/weathericons-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/weathericons-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Bootstrap Overrides */

p {
  margin-bottom: 0.25rem;
}

.btn {
  cursor: pointer;
}

/* Simple Weather */

body {
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  min-height: 100vh;
  min-width: 100vw;
}

.container.header {
  margin-top: 1rem;
  background: #FFF;
  border-radius: 2px;
}

.container.primary-container {
  background: #FFF;
  border-radius: 2px;
}

.power-select-container {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 50%;
  }

  @include media-breakpoint-up(lg) {
    width: 25%;
  }
}

.weather-summary {}

.forecast-map {}

.forecast-day {}

/* Vendor CSS */

/* Loading spinner */
.spinner {
  margin: 0;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
