<div class="container header mb-2">
  <div class="row">
    <div class="col-12 p-4 d-flex flex-row justify-content-between">
      <div>
        <h1>Simple weather</h1>
        <span>Simple site for New Zealand weather using openweathermap.org</span>
      </div>
      <i class="wi wi-day-cloudy" style="font-size: 60px; margin-right: 1rem; padding-top: 16px;"></i>
    </div>
    <div class="col-12 pt-0 pl-4 pr-4 pb-4 search-container d-flex flex-row justify-content-start">
      <h5 class="mr-2 mb-0" style="line-height: 28px;">Search:</h5>
      <div class="power-select-container">
        {{weather-search }}
      </div>
    </div>
  </div>
</div>
<div class="container primary-container mb-4">
  <div class="row">
    <div class="col-12 p-4">
      <div class="application-content">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
