<div class="row">
  <div class="col-12">
    {{#with weather.forecast as |weather|}}
      <h1>Weather for {{weather.name}}, {{weather.sys.country}} {{weather-icon icon=weather.weather.0.id}}</h1>
      <hr />
      <div class="row weather-summary">
        <div class="col-7 col-md-3">
          <p>Summary:</p>
          <p>Current Temperature:</p>
          {{#if weather.rain.3h}}
            <p>Rainfall past 3 hours:</p>
          {{/if}}
          <p>Current Humidity:</p>
          <p>Sunrise:</p>
          <p>Sunset:</p>
        </div>
        <div class="col-5 col-md-3">
          <p>{{weather.weather.0.main}} - {{weather.weather.0.description}}</p>
          <p>{{round-float weather.main.temp}} &deg;C</p>
          {{#if weather.rain.3h}}
            <p>{{weather.rain.3h}}</p>
          {{/if}}
          <p>{{weather.main.humidity}}%</p>
          <p>{{unix-time-conversion weather.sys.sunrise}}</p>
          <p>{{unix-time-conversion weather.sys.sunset}}</p>
        </div>
      </div>
    {{/with}}
    {{#if weather.forecast5}}
      {{forecast-map }}
    {{else}}
      {{loading-spinner }}
    {{/if}}
  </div>
</div>

{{outlet}}
